<% if current_user %>
	<p>
		<%= link_to "(+) Add New Reminder", new_reminder_path %> 
	</p>

	<p>
		You currently have <%= current_user.reminders.count %> reminders.
	</p>

	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Doses</th>
	      <th>Days</th>
	      <th>Start</th>
	      <th>End</th>
	      <th colspan="3">Options</th>
	    </tr>
	  </thead>
		<%= render current_user.reminders %>
	</table>

	<p>
		<%= link_to "View Calendar", "/calendar" %>
	</p>
<% end %>