<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>MDLIVE Reminder App</h1>
    <p>
      You have successfully set up a new Reminder</p>
  </body>
</html>
