<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>MDLIVE Reminder App</h1>
    <p>
      Heroku Scheduler Works! Last sent at <%= @last_sent %>.
      <ul>
      <% @reminder_list.each do |time, reminder| %>
      	<li>Reminder: <%= reminder.title %>, @ <%= formatted_time(time) %>
      <% end %>
    	</ul>
    </p>
  </body>
</html>
