<h1>Reminders</h1>

<div class="new-reminder">
  <%= link_to 'New Reminder', new_reminder_path, class: 'button-link' %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Doses</th>
      <th>Days</th>
      <th>Next</th>
      <th>End</th>
      <th>Notfication Type</th>
      <th>Notes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render current_user.reminders %>
  </tbody>
</table>