<% @users.each do |user| %>
	<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>User ID #</th>
      <th colspan="3"></th>
    </tr>
  </thead>

</table>

	<%= user.name %>	
	<%= user.email %>
	<%= user.id %>

	<%= link_to 'View', user %>
	<br>
<% end %>