<h1>Your Preferences</h1>

<section class="col-md-8">
  <div id="toggle-email" class="preference">
    <h2>Email Alerts are <span class='setting'><%= current_user.squelch_email ? 'OFF' : 'ON' %></span></h2>
    <p>
      Disabling email alerts will prevent you from recieving any emails from Prescription Reminder.
      <%= link_to "#{current_user.squelch_email ? "Enable" : "Disable"} Email Alerts", toggle_email_user_path, class: 'button-link', remote: true %>
    </p>
  </div>
  
  <div id="toggle-text" class="preference">
    <h2>Text Alerts are <span class='setting'><%= current_user.squelch_text ? 'OFF' : 'ON' %></span></h2>
    <p>
      Disabling text alerts will prevent you from recieving any text messages from Prescription Reminder.
      <%= link_to "#{current_user.squelch_text ? "Enable" : "Disable"} Text Alerts", toggle_text_user_path, class: 'button-link', remote: true %>
    </p>
  </div>
</section>