<h1>Your Preferences</h1>

<section class="col-md-8">
  <h2>Email Alerts are <span class='setting'><%= current_user.squelch_email ? 'OFF' : 'ON' %></span></h2>
  <p>
    Disabling email alerts will prevent you from recieving any emails from Prescription Reminder.
  </p>
  
  <h2>Text Alerts are <span class='setting'><%= current_user.squelch_text ? 'OFF' : 'ON' %></span></h2>
  <p>
    Disabling text alerts will prevent you from recieving any text messages from Prescription Reminder.
  </p>

</section>