/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bs
 *= require_tree .
 *= require_self
 */

body {
	background: #eee;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#menu-glyph {
 	margin-left: 0.5%;
 	margin-top: 0.5%;
 	font-size: 26px
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 1;
	box-shadow: 0px 2px 15px #aaa;
	background: #f0f0f0;
}

.navbar h5 {
	border-bottom: 2px solid #d00;
	padding-bottom: 5px;
}

.navbar dd {
	margin-left: 10px;
}

.navbar-text {
	margin-top: 20px;
	margin-bottom: 20px;
}

.header {
	color: #c00 !important;
	margin: 5px inherit;
}

.header-left {
	background: #c00;
	padding: 9px;
	padding-bottom: 11px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: none;
	padding-right: 1px;
	color: white;
}

.header-right {
	background: #fff;
	padding: 7px;
	padding-bottom: 9px;
	border: 1px solid #dfdfdf;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: none;
	padding-left: 4px;
	padding-right: 15px;
	color: black;
	font-weight: bold;
}

.active {
	padding: 7px;
	display: block;
	margin: -7px 0px;
	background: #a00;
	color: white;
	border-radius: 10px;
}

.login {
	width: 280px;
	padding: 10px;
}

.current-reminders {
	width: 250px;
	padding: 10px;
}

.login .form-group {
	margin: 0px 15px;
}

.login .dropdown-toggle:hover {
	text-decoration: none !important;
}

ul.horizontal {
	list-style: none;
	padding: 0;
}

ul.horizontal li {
	display: inline;
}

ul.horizontal li::after {
	content: " | ";
}

ul.horizontal li:last-child::after {
	content: "";
}

.login-links {
	text-align: center;
	margin: 10px 0px;
}

.logout, .logout a, .logout a:visited {
	color: #c00 !important; 
}

.logout a:hover {
	color: #f00 !important;
	text-decoration: underline !important;
}

.popup {
	font-size: 20px;
	text-align: center;
	margin: 0px auto 25px;
	border-radius: 15px;
	padding: 10px;
	width: 85%;
}

.notice {
	background: #bbd;
}

.alert {
	background: #dbb;
}

.container {
	padding-top: 70px;
	margin-bottom: 20px;
}

.content-nav {
	display: none;
}

.content-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 30px;
}

.content-nav li {
	display: inline;
	margin: 0;
}

.content-nav a {
	float: left;
	background: #f4f4f4;
	padding: 10px;
	padding-bottom: 0px;
	margin: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #000;
	text-shadow: 0px 1px 0px #fff;
	box-shadow: 0px 1px 10px 0px #aaa inset;
	min-width: 115px;
	text-align: center;
	/*font-weight: normal;*/
}

.content-nav a:hover {
	background: #ccc;
}

.content-nav a.current {
	background: #999;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	box-shadow: 0px 1px 10px 0px #444 inset;
	border-bottom: 2px solid #a33;
}

.content {
	background: #fcfcfc;
	border-radius: 15px;
	padding: 15px;
	overflow: auto;
	border: 1px solid #bbb;
}

.content .col-1, .content .col-2 {
	display: inline-block;
	margin: 0px 1%;
	vertical-align: top;
}

.content h1 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 20px;
	border-bottom: 3px solid #d44;
	padding-bottom: 5px;
	font-weight: 600;
}

.content h2 {
	font-size: 26px;
	margin: 0;
	padding-left: 10px;
	margin-bottom: 7px;
	padding-bottom: 3px;
	border-bottom: 2px solid #d44;
}

.content .header-links {
	font-size: 16px;
}

.content dd {
	margin-left: 15px;
}

.content .reminder-notifications {
	margin-bottom: 20px;
}

.content .export .button-link{
	margin: 10px auto 20px;
	width: 225px;
}

.sublabel {
	font-weight: normal;
	font-size: 13px;
	margin-left: 15px;
}

.todays-reminders {
	background: #f0f0f0;
	border: 1px solid #aaa;
	border-radius: 15px;
	padding: 30px;
	padding-top: 15px;
	min-height: 350px;
}

.sidebar {
	padding: 20px;
	background: #f0f0f0;
	border-radius: 10px;
	box-shadow: 0px 2px 5px #888;
}

.sidebar h2 {
	margin: -20px -21px 15px;
	padding-top: 10px;
	width: 100%;
	padding-bottom: 10px !important;
	background: #c22;
	color: white;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 25px;
	width: initial;
}

.new-reminder {
	width: 200px;
	margin-bottom: 10px;
}

tr.admin {
	font-weight: bold;
	color: #a00;
}

.centered-button {
	margin: 10px 0;
	text-align: center;
}

aside dl {
	margin: 5px 20px;
}

.new-time{
	margin: 10px 0px
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.dropdown-menu {
		min-height: 200px;
	}

	.content-nav {
		display: block;
	}

	.container {
		padding-top: 90px;
	}

	.content-container {
		background: #ccc;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
		background: -moz-linear-gradient(top, #fff, #ccc);
		padding: 25px;
		border-radius: 20px;
		border-top-left-radius: 0;
		box-shadow: 2px 2px 12px #aaa, -2px 2px 12px #aaa;
		clear: both;
	}

	.content, .content article, .content section {
		min-height: 500px;
	}

	.content h1 {
		width: 70%;
	}
}
