/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #eee;
}

#menu-glyph {
 	margin-left: 0.5%;
 	margin-top: 0.5%;
 	font-size: 26px
}

.container {
	padding-top: 50px;
	margin-bottom: 20px;
}

.content-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 30px;
}

.content-nav li {
	display: inline;
	margin: 0;
}

.content-nav a {
	float: left;
	background: #ddd;
	padding: 10px;
	padding-bottom: 0px;
	margin: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #000;
	text-shadow: 0px 1px 0px #fff;
	box-shadow: -2px 2px 12px #aaa inset, 0px 0px 5px #aaa;
	min-width: 115px;
	text-align: center;
}

.content-nav a:hover {
	background: #ccc;
}

.content-nav a.current {
	background: #888;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	box-shadow: -2px 2px 12px #444 inset,  0px 0px 5px #aaa;
}

.content-container {
	background: #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	background: -moz-linear-gradient(top, #fff, #ccc);
	padding: 25px;
	border-radius: 20px;
	border-top-left-radius: 0;
	/*border: 2px solid #999;*/
	box-shadow: 2px 2px 12px #888, -2px 2px 12px #aaa;
	clear: both;
}

.content {
	background: #eee;
	border-radius: 15px;
	padding: 15px;
	box-shadow: 0px 2px 5px 2px #888;
}

.content h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
}

.navbar {
	position: fixed;
	width: 100%;
}


#new_reminder_btn {
	text-align: left;
}

th {
	text-align: center;
}

.col-sm-4 {
	text-align: center;
}

h3 {
	text-align: center;
}

#cancel_btn {
	text-align: center;
}

