/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #eee;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#menu-glyph {
 	margin-left: 0.5%;
 	margin-top: 0.5%;
 	font-size: 26px
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 1;
	background: #ddd;
	box-shadow: 0px 2px 15px #333;
}

.navbar-text {
	margin-top: 20px;
	margin-bottom: 20px;
}

.navbar-nav > li > a {
	padding-top: 20px;
	padding-bottom: 20px;
}

.header {
	color: #c00 !important;
	text-shadow: 1px 1px 0px #300;
	margin: 5px inherit;
}

.header-left {
	background: #ddd;
	padding: 9px;
	padding-bottom: 11px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 1px solid #999;
	border-right: none;
	box-shadow: 3px -3px 5px 1px #666 inset, 3px 3px 5px 1px #fff inset;
	padding-right: 1px;
}

.header-right {
	background: #888;
	padding: 7px;
	padding-bottom: 9px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid #444;
	border-left: none;
	padding-left: 4px;
	padding-right: 15px;
	box-shadow: -2px -5px 5px 1px #666 inset, -2px 3px 5px 1px #ccc inset;
}

.login {
	width: 280px;
	padding: 10px;
}

.login .form-group {
	margin: 0px 15px;
}

.login .dropdown-toggle:hover {
	text-decoration: none !important;
}

.login-links {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 10px 0px;
}

.login-links li {
	display: inline;
}

.login-links li::after {
	content: " | ";
}

.login-links li:last-child::after {
	content: "";
}

.logout, .logout a, .logout a:visited {
	color: #c00 !important; 
}

.logout a:hover {
	color: #f00 !important;
	text-decoration: underline !important;
}

.popup {
	font-size: 20px;
	text-align: center;
	margin: 0px auto 25px;
	border-radius: 15px;
	padding: 10px;
	width: 85%;
	box-shadow: 0px 5px 15px 2px #aaa;
	border: 1px solid #888;
}

p.popup:empty {
	display: none;
}

.notice {
	background: #88a;
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#99a));
}

.alert {
	background: #c99;
	background: -webkit-gradient(linear, left top, left bottom, from(#fdd), to(#b99));
}

.container {
	padding-top: 90px;
	margin-bottom: 20px;
}

.content-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 30px;
}

.content-nav li {
	display: inline;
	margin: 0;
}

.content-nav a {
	float: left;
	background: #ddd;
	padding: 10px;
	padding-bottom: 0px;
	margin: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #000;
	text-shadow: 0px 1px 0px #fff;
	box-shadow: 0px -1px 12px 1px #AA9 inset, 0px 0px 5px #aaa;
	min-width: 115px;
	text-align: center;
}

.content-nav a:hover {
	background: #ccc;
}

.content-nav a.current {
	background: #888;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	box-shadow: 0px -1px 12px 1px #444 inset,  0px 0px 5px #aaa;
	border-bottom: 2px solid #a33;
}

.content-container {
	background: #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	background: -moz-linear-gradient(top, #fff, #ccc);
	padding: 25px;
	border-radius: 20px;
	border-top-left-radius: 0;
	box-shadow: 2px 2px 12px #888, -2px 2px 12px #aaa;
	clear: both;
}

.content {
	background: #eee;
	border-radius: 15px;
	padding: 15px;
	box-shadow: 0px 2px 5px 2px #888;
	overflow: auto;
	min-height: 500px;
}

.content .col-2 {
	display: inline-block;
	width: 45%;
	margin: 0px 10px;
	vertical-align: top;
}

.content h1 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 20px;
	border-bottom: 3px solid #d44;
	padding-bottom: 5px;
	width: 70%;
	font-weight: 600;
}

.content h2 {
	font-size: 24px;
	margin: 0 auto 10px;
	padding-bottom: 2px;
	border-bottom: 2px solid #d44;
	width: 90%;
	text-align: center;
	font-weight: 600;
}

.content .header-links {
	font-size: 16px;
}

.content dd {
	margin-left: 15px;
}

.content .reminder-notifications {
	margin-bottom: 20px;
}

.content .export {
	margin: 10px 0px 20px;
}

.content .form {
	width: 65%;
	display: inline-block;
	vertical-align: top;
}

.sign-in {
	width: 50%;
	margin: auto;
	display: block;
}

.form-control {
	border-radius: 25px;
	padding: 18px 20px;
	margin-bottom: 5px;
}

.sublabel {
	font-weight: normal;
	font-size: 13px;
	margin-left: 15px;
}

.button-link, input[type='submit'] {
	margin: 10px auto 0px;
	min-width: 150px;
	padding: 5px 20px;
	display: block;
	background: #eee;
	border-radius: 20px;
	box-shadow: 1px 1px 5px #888 inset, -2px -2px 5px #444 inset, 2px 2px 10px #888;
	border: none;
}

.button-link {
	display: block;
	width: 200px;
	margin: auto;
	text-align: center;
}

.button-link:hover, input[type="submit"]:hover {
	background: #ddd;
}

.button-link:active, input[type="submit"]:active {
	background: #ccc;
	box-shadow: -2px -2px 5px #888 inset, 1px 1px 5px #444 inset, 2px 2px 10px #888;
}

.button-link[disabled], input[type="submit"][disabled] {
	background: #aaa;
	color: #555;
	box-shadow: 1px 1px 5px #888 inset, -2px -2px 5px #444 inset;
}

.field_with_errors input {
	box-shadow: 0px 0px 10px 2px #f00 inset;
}

#error_explanation h2 {
	font-size: 20px;
	margin-top: -10px;
}

.sidebar {
	float: right;
	margin-right: 10px;
	width: 30%;
	padding: 20px;
	background: #aac;
	border-radius: 10px;
	box-shadow: 0px 2px 5px 1px #444;
}

.sidebar h2 {
	margin: -20px -20px 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #bbb;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 25px;
	border-bottom: 2px solid #444;
	text-shadow: 1px 1px 0px #fff;
	width: initial;
}

.sidebar a, .sidebar a:visited {
	text-decoration: underline;
}

tr.admin {
	font-weight: bold;
	color: #a00;
}