<li class="dropdown hidden-xs">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span class="sr-only">Toggle navigation</span>
    <span class="glyphicon glyphicon-lock"></span>
    Log In
  </a>            
  <ul class="dropdown-menu login" role="menu">
    <%= render 'devise/sessions/form' %>
  </ul>
</li>